<div>
	<h2>Как пользоваться журналом термометрии</h2>
	<div class="help">
		<ul>
			<li>
				Пройдите турникет, используя RFID карту сотрудника
			</li>
			<li>
				Снимите перчатку или рукавицы
			</li>
			<li>
				Плавно проведите ладонью или запястьем над датчиком 
			</li>
			<li>
				Прослушайте голосовое уведомление об измеренной температуре
			</li>
			<li>
				Если нет голосового уведомления, повторно проведите ладонью или запястьем над датчиком, но медленнее
			</li>
			<li>
				Для просмотра журнала измерений войдите в корпоративную сеть со своей учетной записью
			</li>
		</ul>
	</div>
	Еще:
	<div class="help">
		<a href="https://www.google.com/search?q=как пользоваться турникетом" target="_blanc"> Как пользоваться турникетом</a>
	</div>
</div>
