<div *ngIf="progress">
  Подождите..
  <p></p>
  <p></p>
  <mat-progress-bar class="progresswindow" mode="indeterminate"></mat-progress-bar>
</div>
<span *ngIf="!this.progress">
  <form #orderForm="ngForm" [formGroup]="formGroup" (ngSubmit)="register()">
    <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
      {{message}}
    </div>
    <div fxLayout="column" fxLayoutAlign="stretch" >
      <mat-form-field>
          <input matInput type="text" placeholder="логин" autocomplete="username" formControlName="login">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Пароль" autocomplete="current-password" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Пароль еще раз" autocomplete="current-password" formControlName="password2">
        <mat-error *ngIf="formGroup.hasError('passwordsNotEqual')">Пароли не совпадают</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end stretch">
        <button color="primary" mat-button type="submit">Зарегистрироваться</button>  
      </div>
    </div>
  </form>
</span>
