<mat-progress-bar *ngIf="values.loading | async" mode="indeterminate"></mat-progress-bar>
<mat-form-field class="filter" id="filterfield">
	<input matInput placeholder="Фильтр" #filter>
</mat-form-field>
<button mat-button type="button" (click)="selectAllCards()" matTooltip="Все карты">
	{{ cardno ? 'Карта ' + cardno : 'Все карты'}}
</button>
<button mat-button type="button" (click)="selectDate()" matTooltip="Выбрать дату">
	{{ startFinish.start * 1000| date : 'dd.MM.yyyy' }}
</button>
<ng-container *ngIf="errorCode">
	Ошибка {{errorCode}}:
</ng-container>
<ng-container *ngIf="!errorCode">
	Мин. {{ (tmin / 100).toFixed(1) }} Макс. {{ (tmax / 100).toFixed(1) }}
</ng-container>
<table mat-table [dataSource]="values" matSort>
	<!--
	'id', 'gateid', 'imei', 'time', 't', 'tir', 'tmin', 'tambient', 'userid' ];
	<ng-container matColumnDef="id">
	<th mat-header-cell *matHeaderCellDef matTooltip="Номер записи"> № п/п</th>
	<td mat-cell *matCellDef="let v" routerLink="/user/{{v.id}}"> {{v.id}} </td>
	</ng-container>
	<ng-container matColumnDef="gateid">
		<th mat-header-cell *matHeaderCellDef matTooltip="Номер турникета"> Турникет </th>
		<td mat-cell *matCellDef="let v" routerLink="/gate/{{v.gateid}}"> {{v.gateid}} </td>
	</ng-container>
	<ng-container matColumnDef="imei">
		<th mat-header-cell *matHeaderCellDef matTooltip="Канал">  </th>
		<td mat-cell *matCellDef="let v"> {{v.imei}} </td>
	</ng-container>
	-->
	<ng-container matColumnDef="time">
		<th mat-header-cell *matHeaderCellDef matTooltip="Время"> Время </th>
		<td mat-cell *matCellDef="let v"> {{v.time | date : 'HH:mm'}} </td>
	</ng-container>
	<ng-container matColumnDef="t">
		<th mat-header-cell *matHeaderCellDef matTooltip="Температура с поправкой на коэффициент отражения">
			Температура, C
		</th>
		<td mat-cell class="temperatureC" *matCellDef="let v">
			<ng-container *ngIf="v.t &gt; max10">
				<div class="temperatureCHigh">
					{{ (v.t / 100).toFixed(1) }}
				</div>
			</ng-container>
			<ng-container *ngIf="v.t &lt;=  max10">
				{{ (v.t / 100).toFixed(1) }}
			</ng-container>
		</td>
	</ng-container>
	<!--
	<ng-container matColumnDef="tir">
		<th mat-header-cell *matHeaderCellDef matTooltip="Температура датчика"> T датчика </th>
		<td mat-cell *matCellDef="let v" > {{ v.tir / 100 }} </td>
	</ng-container>
	<ng-container matColumnDef="tmin">
		<th mat-header-cell *matHeaderCellDef matTooltip="Температура окружающего воздуха"> T окруж. </th>
		<td mat-cell *matCellDef="let v" > {{ v.tmin / 100 }} </td>
	</ng-container>
	<ng-container matColumnDef="tambient">
		<th mat-header-cell *matHeaderCellDef matTooltip="Температура корпуса датчика"> T корпуса </th>
		<td mat-cell *matCellDef="let v" > {{ v.tmin / 100 }} </td>
	</ng-container>
	-->
	<ng-container matColumnDef="card">
		<th mat-header-cell *matHeaderCellDef matTooltip="Номер карты сотрудника"> Карта </th>
		<ng-container *matCellDef="let v">
			<ng-container *ngIf="v.userid == 0">
				<td mat-cell class="card" routerLink="/card/{{v.userid}}">
					<mat-icon>aspect_ratio</mat-icon>
				</td>
			</ng-container>
			<ng-container *ngIf="v.userid != 0">
				<td mat-cell routerLink="/card/{{v.userid}}"> {{ v.userid }} </td>
			</ng-container>
		</ng-container>
	</ng-container>
	<ng-container matColumnDef="cn">
		<th mat-header-cell *matHeaderCellDef matTooltip="Ф.И.О."> Сотрудник </th>
		<ng-container *matCellDef="let v">
			<ng-container *ngIf="v.userid != 0">
				<td mat-cell class="name" routerLink="/card/{{v.userid}}"> {{ getName(v.userid) }} </td>
			</ng-container>
		</ng-container>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="100"></mat-paginator>
	<!--
  	<button mat-button type="button" (click)="drawChart(this)" matTooltip="Обновить график">График</button>
  	-->

<div id="measurement-list-chart"></div>
	