.temperatureC {
	font-weight: bold;
	padding-left: 5pt;;
	padding-right: 5pt;
}

.temperatureCHigh {
	color: #f00;
	font-weight: bold;
	padding-left: 5pt;;
	padding-right: 5pt;
}

.card {
	padding-left: 5pt;;
	padding-right: 5pt;
}

.name {
	padding-left: 5pt;;
	padding-right: 5pt;
}

#measurement-list-chart {
	width: 100%;
	height: 500px;
}

#filterfield {
	visibility: hidden;
	width: 0px;
}
